@import url('https://use.typekit.net/gsy5aak.css');
/* ev byt till google samt kika på import av font 
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
ex) font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat';
  color: #4c868f;
}
html,
body {
  min-height: 100%;
}
body {
  /* background: radial-gradient(
    at top left,
    rgba(146, 43, 225, 1) 0%,
    rgba(43, 9, 107, 1) 100%
  );
  background-repeat: no-repeat; */
}
p,
h4 {
  margin: 16px auto;
  line-height: 1.5em;
  color: #000000;
  font-family: 'muli', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* layout & nav */
.layout {
  /* max-width: 1200px; */
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
nav .links,
section .footerLinks {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-family: 'muli', sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color: #4c868f;
}
nav a:hover {
  border-color: #4c868f;
}
.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
.footerLinks p {
  display: inline-block;
  margin-left: 20px;
  font-family: 'muli', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.footerLinks a {
  display: inline-block;
  margin-left: 20px;
  font-family: 'muli', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  border-top: 2px solid #4c868f;
  width: 220px;
}
