.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header h2 {
  text-transform: uppercase;
}
.header p {
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  color: #fff;
  background: #4c868f;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.bts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
